<ng-container [ngSwitch]="mode">

  <ng-container *ngSwitchCase="'write'" >
    <input [(ngModel)]="nextValue" siAutoFocus siAutoSize (keyup.enter)="validateChanges()" (keyup.esc)="undoChanges()" )/>
    <button type="button" (click)="validateChanges()" class="btn btn-link btn-sm"><i class="fa fa-check"></i></button>
    <button type="button" (click)="undoChanges()" class="btn btn-link btn-sm"><i class="fa fa-undo"></i></button>
  </ng-container>

  <span *ngSwitchCase="'read'" (click)="switchMode()" >{{value}}</span>

</ng-container>
