<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/settings'"><i class="fa fa-cogs"></i>Settings</a>
      </li>
      <li class="nav-item nav-dropdown open" *ngIf="workingProject">
        <a class="nav-link nav-dropdown-toggle" appSidebarDropdownToggler><i class="fa fa-building"></i>Projects</a>
        <ul class="nav-dropdown-items">
          <li *ngFor="let query of queries;" class="nav-item">
            <rm-ng-query [bean]="query" [project]="workingProject" ></rm-ng-query>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
