<ng-container *ngIf="issue;else loading">
  <form>
    <h2>
      <!--<app-rm-tracker [issue]="issue"></app-rm-tracker>-->
      <!--<app-issue-id [issue]="issue"></app-issue-id>-->
    </h2>
    <div class="card mt-4">
      <div class="card-header">
        <h5>
          <si-text [ngModel]="issue.subject" (ngModelChange)="updateSubject($event)" name="subject"></si-text>
        </h5>
      </div>
      <div class="card-body">
        <div class="form row">
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <si-select [ngModel]="issue.status" name="status" [availableOptionsObservable]="getAvailableStatus()" (ngModelChange)="updateStatus($event)" ></si-select>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="start_date" class="col-sm-2 col-form-label">Start date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" bsDatepicker [(bsValue)]="issue.start_date">
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="priority" class="col-sm-2 col-form-label">Priority</label>
            <div class="col-sm-10">
              <!-- <si-select [ngModel]="issue.priority" name="priority" (ngModelChange)="updateStatus($event)" ></si-select> -->
              <input type="text" class="form-control" id="priority" value="TODO">
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="due_date" class="col-sm-2 col-form-label">Due date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="due_date" bsDatepicker [(bsValue)]="issue.due_date">
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="assignee" class="col-sm-2 col-form-label">Assignee</label>
            <div class="col-sm-10">
              TODO user input
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="done_ration" class="col-sm-2 col-form-label">% Done</label>
            <div class="col-sm-10">
              <progress id="done_ration" [value]="issue.done_ratio"></progress>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="category" value="{{issue.category.name}}">
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-6 row">
            <label for="fixed_version" class="col-sm-2 col-form-label">Target version</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fixed_version" value="{{issue.fixed_version.name}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <app-app-loader></app-app-loader>
</ng-template>
