<div class="card mt-4">
  <div class="card-header">
    <h1>Settings</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h2 class="card-title">Server</h2>
        <div>
          <div class="form-group">
            <label for="server">Redmine server URL</label>
            <input type="text" class="form-control" id="server" placeholder="Enter your redmine server URL" [(ngModel)]="settings.server">
          </div>
          <div class="form-group">
            <label for="redmineAPIKey">Redmine API Key</label>
            <input type="text" class="form-control" id="redmineAPIKey" placeholder="Enter your redmine API key" [(ngModel)]="settings.api_key">
            <small class="form-text text-muted">Redmine API key can be found in your redmine profile</small>
          </div>
          <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="card-title">User</h2>
        <ng-container *ngIf="user">
          <dl>
            <dt>{{user.firstname}} {{user.lastname}}</dt>
            <dd><img class="rounded-circle d-none d-md-inline" [src]="user.gravatar" ></dd>
            <dt>Login</dt>
            <dd>{{user.login}}</dd>
            <dt>Mail</dt>
            <dd>{{user.mail}}</dd>
            <ng-container *ngFor="let cf of user.custom_fields" >
              <dt>{{cf.name}}</dt>
              <dd>{{cf.value}}</dd>
            </ng-container>
          </dl>
        </ng-container>
      </div>
    </div>
  </div>

</div>
