<th scope="row">
  <app-issue-id [issue]="node.element"></app-issue-id>
</th>
<td class="redmine-subject">
  <span class="fa mr-1 expender" [ngClass]="{'fa-plus-circle': node.children.length > 0, 'fa-empty': node.children.length === 0}"></span>{{node.element.subject}}
</td>
<td class="redmine-status redmine-status-{{node.element.status.id}}">{{node.element.status.name}}</td>
<td class="redmine-priority">
  <i class="redmine-priority-{{node.element.priority.id}}"></i>
</td>
<td class="redmine-user">{{node.element.author.name}}</td>
<td class="redmine-done_ratio">
  <div class="progress">
    <div class="progress-bar w-{{node.element.done_ratio}}" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</td>

<!-- append children -->
<tr app-redmine-issue *ngFor="let child of node.children;" [node]="child" [level]="level+1"></tr>
