<th scope="row">
  <app-issue-id [issue]="node.element"></app-issue-id>
</th>
<td class="redmine-subject">
  <button type="button" class="fa mr-1 expender btn btn-link" appNodeExpander [(nodeExpanderNode)]="node" [ngClass]="{'fa-plus-circle': node.children.length > 0, 'fa-empty': node.children.length === 0}"></button>{{node.element.subject}}
</td>
<td class="redmine-status redmine-status-{{node.element.status.id}}"><app-rm-status [issue]="node.element"></app-rm-status></td>
<td class="redmine-priority">
  <i class="redmine-priority-{{node.element.priority.id}}"></i>
</td>
<td class="redmine-user">{{node.element.author.name}}</td>
<td class="redmine-done_ratio">
  <div class="progress">
    <div class="progress-bar w-{{node.element.done_ratio}}" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</td>

<!-- append children -->
<ng-template *ngIf="node.status === 'expended'">
  <tr app-redmine-issue *ngFor="let child of node.children;" [node]="child" [level]="level+1"></tr>
</ng-template>

