<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <rm-ng-issue-id [issue]="_issue"></rm-ng-issue-id>
      <si-text [ngModel]="_issue.subject" (ngModelChange)="updateSubject($event)"></si-text>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">
      <rm-ng-tracker [tracker]="_issue.tracker" [project]="_issue.project.id"></rm-ng-tracker>
    </h6>
    <div class="card-text">{{_issue.description}}</div>
    <ul class="pl-0">
      <li class="d-inline ">
        <rm-ng-user [user]="_issue.assigned_to"></rm-ng-user>
      </li>
      <li class="d-inline ">
        <rm-ng-status [status]="_issue.status"></rm-ng-status>
      </li>
      <li class="d-inline ">
        <rm-ng-priority [priority]="_issue.priority"></rm-ng-priority>
      </li>
      <li class="d-inline badge badge-pill badge-light">{{_issue.updated_on | amTimeAgo}}</li>
    </ul>

    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
