

<div class="card mt-4">
  <div class="card-header">
    <h1>Settings</h1>
  </div>
  <div class="card-body">
    <h2 class="card-title">Server</h2>
    <div>
      <div class="form-group">
        <label for="redmineAPIKey">Redmine API Key</label>
        <input type="text" class="form-control" id="redmineAPIKey" placeholder="Enter your redmine API key" [(ngModel)]="apiKey" >
        <small class="form-text text-muted">Redmine API key can be found in your redmine profile</small>
        <button type="button" (click)="save()">Save</button>
      </div>
    </div>
  </div>

</div>
